.left-column
  %h2#text_1 We're making one aspect of life easier for parents of multiples:

  %div#blue_owl

  %h3#text_2 buying and selling gently used sets of clothes!

  %div#shop_button
    = link_to " ", auctions_path, class: "shop_button"

  %div#tree

  %div#line_1

  %div#line_2

  %div#line_3

.right-column
  #child_images
    = image_tag "children/twins.jpg"
    = image_tag "children/triplets.jpg"
    = image_tag "children/quads.jpg"

%div#facebook
  = link_to "", "http://facebook.com"

%div#twitter

%div#m_board

%div#special
